@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
}

.mobile-dialog-panel {
  background-color: #161616;
}

/* PhotoSwipe background */
.pswp__bg {
  background-color: #000000 !important;
}

/* Ensures the layout structure */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content-wrap {
  flex: 1;
}

footer {
  /* background-color: #333; 
  color: #fff;
  text-align: center;
  padding: 20px 10px; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
